@font-face {
  font-family: 'Pigpen';
  src: url('./fonts/PigpenCipher.otf');
}

@import url('https://fonts.googleapis.com/css2?family=Gabarito&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Linefont:wght@300&display=swap');

:root {
  box-sizing: border-box;
  --divSize: 6rem;
  --witch-purple: rgb(117, 0, 180);
  --witch-green: rgb(0, 164, 33);
  --pumpkin-orange: rgb(255, 100, 25);
}

.unselectable {
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard syntax */
}


body {
  background: linear-gradient(var(--witch-green), var(--witch-purple));
  overflow-x: hidden;
  font-family: 'Gabarito', sans-serif;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-page {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: calc(100vh);
  font-family: 'Shadows Into Light';
  font-size: 1.7rem;
}

.start-page button {
  margin-top: 3rem;
  padding: 0.5rem;
  padding-top: 0.6rem;
  background-color: rgb(220, 161, 12);
  border: none;
  box-shadow: 1px 2px 5px rgb(57, 48, 0);
  font-size: 200%;
  font-family: 'Shadows Into Light';
  letter-spacing: 1rem;
  border-radius: 12px;
  width: 100%;
}

.start-page button:hover {
  box-shadow: inset 1px 2px 5px rgb(137, 100, 7);
  transform: translate(0.1rem, 0.2rem);
}

.gravy {
  position: absolute;
  z-index: -1;
}

.header {
  display: flex;
  position: relative;
  top: 0;
  justify-content: space-between;
  align-items: center;

  /* background-color: rgba(0, 0, 0, 0.1) */
}

.header--h1 {
  font-family: 'Shadows Into Light';
  color: var(--witch-purple);
  font-size: 1.7rem;
  margin-left: 1rem;
}

.countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9rem;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.11);
  margin-right: 1rem;
  color: rgba(255, 255, 255, 0.50);
  border-radius: 8px;
  position: sticky;
  top: 6rem;
  left: 2rem;
  z-index: 1;
}

.countdown div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.countdown div p {
  font-weight: bold;
  margin: 0;
  font-family: "Play", Monaco, monospace;
}

.story-content {
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 3rem 0 6rem 0
}

.story-content h2 {
  font-family: 'Shadows Into Light';
  font-size: 4rem;
  letter-spacing: 1rem;
}

.story-content p {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Gabarito', sans-serif;
}

.main--witch {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

}

.image--row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 77%;
}

.image--row p {
  font-size: 3rem;
}

.image--row div {
  position: relative;
  background-color: white;
  border-radius: 10px;
  border: 1px solid black;
  margin: 1rem 2rem;
  padding: 1rem;
  width: var(--divSize);
  height: var(--divSize);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 3px 6px 20px rgb(40, 40, 40);

}

.image--row img {
  height: 100%;
  width: auto;
}

#given-number {
  color: rgb(0, 0, 0);
  position: absolute;
  font-size: 1.8rem;
  top: -4px;
  right: 6px;
}

.image--row input {
  width: 4rem;
  height: 2rem;
  font-size: 1.8rem;
  text-align: center;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid rgb(202, 15, 15);
}

.brew-btn {
  margin-top: 3rem;
  width: 60%;
  padding: 0.5rem;
  padding-top: 0.6rem;
  background-color: rgb(97 147 0);
  border: none;
  box-shadow: 1px 2px 5px rgb(37, 0, 57);
  font-size: 200%;
  font-family: 'Shadows Into Light';
  letter-spacing: 1rem;
  border-radius: 12px;
}

.brew-btn:hover {
  box-shadow: inset 1px 2px 5px rgb(0, 0, 0);
  transform: translate(0.1rem, 0.2rem);
  /* This will shift the text inside the button to the right by 0.1rem and down by 0.2rem */
}

.imageAndInput {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.imageAndInput div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.imageAndInput img {
  width: 6rem;
}

.imageAndInput input {
  width: 8rem;
  margin-top: 2rem;
  height: 2rem;
  background-color: transparent;
  border: none;
  text-align: center;
  font-size: 2rem;
  border-bottom: 2px solid black;
}

.imageAndInput input:focus {
  outline: none;
  border-bottom: 2px solid rgb(255, 100, 25);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  margin-top: 10rem;
  width: 100%;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--witch-purple);
  flex-direction: column;
}

.footer a {
  color: var(--witch-purple);
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer p {
  margin: 0.5rem 0 0 0;
}

.ch2-maze {
  width: 31.5rem;
  height: auto;
  margin-top: 2rem;
  opacity: 1;
}

.ch2-turkey {
  width: 10%;
  height: 10%;
  position: absolute;
  top: 29.5rem;
  left: 18.8rem;
  transform: rotateY(180deg);
}

.riddles-container {
  display: flex;
  justify-content: space-between;
  width: 74%;
  color: rgba(255, 255, 255, 0.8)
}


.riddles {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.riddles p {
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 2rem;
}

.ch2-before-input {
  margin-top: 1rem !important;
  padding-right: 1rem;
}

.answer-p {
  margin-bottom: 0;
  padding: 0 1rem;
  margin-top: 1rem !important;
}

.riddles input {
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  width: 10rem;
  text-align: center;
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.473);
}

.riddles input:focus {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--witch-green);
}

.riddles div {
  display: flex;
}

.riddles img {
  align-self: center;
  margin-top: 1rem;
}

#ch2-turkey-id {
  transition: all 2s ease-in-out;
}

/*****************************/
/****** Challenge Three ******/
/*****************************/

.pigpen {
  position: relative;
  padding: 2rem;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: 5px 10px 30px rgb(0, 0, 0);

}

.slide-in {
  position: relative;
  left: 100%;
  transition: left 3s ease, transform 3s ease;
}

.center-screen {
  left: 50%;
  transform: translateX(-50%);
}

.main-pp-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.main-pp-wrapper>p {
  color: #fff;
  width: 20%;
  align-self: flex-end;
  padding: 2rem;
  font-size: 1.8rem;
  margin: 0;
  font-weight: bold;
  background-color: rgb(78, 92, 99);
  box-shadow: 3px 5px 20px rgb(25, 25, 25);
  border-radius: 10px;
}

.pigpen p {
  font-size: 4rem;
  margin: 0;
}

.pigpen-container {
  display: flex;
}

.pigpen-container>img {
  width: 40em;
  height: 40rem;
  left: 28.4rem;
  top: 2rem;
}

.pigpen-cipher {
  font-family: 'Gabarito', sans-serif;
  position: relative;
  flex-direction: column;
  padding: 2rem;
  align-self: center;
  margin-bottom: 3rem;
  margin-left: 2rem;
  width: 30rem;
  color: rgb(0, 0, 0);
  font-size: 2.6rem;
  line-height: 3rem;
  background-color: rgb(184, 184, 184);
  box-shadow: 3px 5px 20px rgb(50, 50, 50);
  border-radius: 10px;
}

.pigpen-cipher h5,
ol {
  margin: 0 0 1rem 0;
}

.pigpen-font {
  font-family: 'pigpen'
}

.pigpen-img {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  font-size: 1.1rem;
  position: absolute;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  top: -10%;
  width: 95%;
  height: 110%;
  background-color: rgb(165, 181, 163);
  box-shadow: 3px 5px 20px rgb(86, 86, 86);
  transition: top 0.5s ease-in;
  z-index: -1;
}

.pigpen-slide-up {
  top: -110%;
  transition: all 0.5s ease-in;
}

.pigpen-cipher-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.pigpen-cipher-container p {
  font-weight: bold;
  color: white;
  font-size: 1.5rem;
  margin-bottom: 1rem
}

.ch3-submit {
  width: 77.6%;
  padding: 0.7rem;
  padding-top: 0.9rem;
  background-color: rgb(198 255 246);
  border: none;
  color: rgb(47 181 233);
  font-size: 215%;
  font-family: 'Shadows Into Light';
  letter-spacing: 0.5rem;
  border-radius: 12px;
  border: 2px solid rgb(138 216 246);
  outline: none;
}

.ch3-submit:hover {
  border: 2px solid rgb(78, 92, 99);
}

.ch3-submit:focus {
  border: 2px solid rgb(78, 92, 99);
}

.pigpen-submit-wrapper {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
}

.pigpen-submit-wrapper input {
  width: 35%;
  height: 3.5rem;
  font-size: 2rem;
  margin: 0 2rem 1rem;
  text-align: center;
  border-radius: 5px;
  flex-grow: 2;
}

.pigpen-submit-wrapper input:focus {
  outline: 2px solid rgb(42, 49, 53);
}

.latch {
  position: absolute;
  top: 0;
  left: 0;
}

.latchright {
  left: 172px;
}

.latchbolt {
  top: 87px;
  left: 30px;
  /* left 165 */
  transition: all 0.2s ease;
}

.latchtop {
  left: 60px;
  top: 71px;
}

.pigpen-hint {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  visibility: hidden;
  opacity: 0;
}

.show-hint {
  visibility: visible;
  opacity: 1;
  transition: visibility 2s linear, opacity 2s linear;
}

.pigpen-hint button {
  height: 1.5rem;
  min-width: 6rem;
  font-size: 0.8rem;
  border-radius: 5px;
  background-color: rgb(26, 24, 24);
  color: rgb(105, 105, 105);
  border: none;
}

.hint {
  margin-left: 4rem;
  opacity: 0;
}

/*****************************/
/****** Progress Bar ******/
/*****************************/

.progress-bar {
  display: flex;
  width: 32%;
  justify-content: flex-end;
  align-items: center;
  margin-right: 3rem;
}

.progress-bar-bubble {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: white;
  z-index: 1;
}

.progress-bar-bubble img {
  visibility: hidden;
}

.progress-img-visible {
  visibility: visible !important;
}

.progress-bar-line {
  height: 15px;
  margin: 0 -5px 0 -5px;
  width: 50px;
  background-color: white;
  z-index: -1;
}

.progress-bar-half-color {
  /* background: linear-gradient(to right, var(--witch-purple), rgb(255, 255, 255)) */
  background: linear-gradient(to top right, rgb(255, 232, 25) 20%, rgb(255, 255, 255))
}

.progress-bar-full-color {
  /* background-color: var(--witch-purple); */
  background-color: rgb(255, 232, 25);
}

/****************************/
/****** Challenge Four ******/
/****************************/

.floating-icon {
  animation: floatAndSpin 61s infinite linear;
  position: absolute;
  will-change: transform;
  z-index: -2;
}

.floating-icon-2 {
  animation: opacityChange 1s linear;
  position: absolute;
  will-change: transform;
  z-index: -2;
}

@keyframes floatAndSpin {

  0%,
  100% {
    transform: translateX(-70vw) translateY(130vh) rotate(0deg);
  }

  25% {
    transform: translateX(70vw) translateY(30vh) rotate(360deg);
  }

  50% {
    transform: translateX(-70vw) translateY(130vh) rotate(0deg);
  }

  75% {
    transform: translateX(70vw) translateY(-30vh) rotate(360deg);
  }
}

@keyframes opacityChange {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}


.ch4-riddles-container {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.headstones {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 78%;
  flex-wrap: wrap;
}

.headstones>div {
  position: relative;
  overflow: hidden;
  /* This will contain the child's shadow */
  padding-top: 3.5rem;
  clip-path: polygon(0 0, 100% 0, 100% 95%, 0 95%);
}

.headstones img {
  width: 50%;
  border-radius: 50% 50% 0 0;
  z-index: 1;

}

.headstone-glow {
  animation: bigGlow 1s ease-in forwards, glowingEffect 1s infinite alternate 1s;
  border-radius: 50% 50% 0 0;
  width: 35%;
  height: 78%;
  position: absolute;
  top: 3.5rem;
  z-index: 0;
}

@keyframes bigGlow {
  0% {
    box-shadow: 0 0 70px 10px rgb(255, 21, 21);
  }

  100% {
    box-shadow: 0 0 50px 4px #6c9c78;
  }
}

@keyframes glowingEffect {
  0% {
    box-shadow: 0 0 50px 5px #6c9c78;
  }

  100% {
    box-shadow: 0 0 42px 4px #6c9c78;
  }
}

.headstones>div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24%;
}

.ch4-riddle {
  width: 45%;
  text-align: center;
  font-size: 1.7rem;
  color: rgb(2, 0, 114);
  visibility: visible;
  margin-top: 2rem;
  background-color: rgb(254, 255, 214);
  min-height: 450px;
  border-radius: 10px;
  box-shadow: 5px 8px 20px 3px rgb(51, 104, 73);
}

.ch4-riddle p,
.ch4-riddle h2,
.ch4-riddle h3,
.ch4-riddle h4,
.ch4-riddle h5 {
  margin: 0;
}

.recipe-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;
}

.recipe-title h3,
.recipe-title p {
  padding-left: 3rem;
}

.recipe-title p {
  font-size: 3rem;
  margin-top: -1rem;
}

.recipe-main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 2rem 0;
}

.recipe-ingredients {
  display: flex;
  flex-direction: column;
  width: 25%;
  padding: 0.5rem;
  border: 1px solid #000;
  border-radius: 10px;
}

.recipe-instructions {
  width: 60%;
  border: 1px solid #000;
  padding: 0.5rem;
  border-radius: 10px;
}

.recipe-instructions p {
  padding-top: 3rem;
  font-size: 1.5rem;
}

.ch4-riddle input {
  width: 15rem;
  height: 3rem;
  font-size: 1.8rem;
  text-align: center;
  background-color: transparent;
  color: rgb(58, 135, 63);
  border: none;
  border-bottom: 2px solid rgb(0, 0, 0);
  transition: border-bottom 500ms ease, width 500ms ease;
}

.ch4-riddle input:focus {
  outline: none;
  width: 18rem;
  border-bottom: 2px solid rgb(236, 74, 36);
}

.ch4-riddle p:nth-of-type(2) {
  color: rgb(255, 100, 25);
  font-size: 1rem;
}

.show-riddle {
  visibility: visible;
  opacity: 1;
  transition: visibility 2s linear, opacity 2s linear;
}

.visible {
  display: block;
}

.not-visible {
  display: none;
}

.success {
  display: flex;
  justify-content: space-around;
  max-width: 75%;
  text-align: center;
  box-shadow: 20px 20px 25px 2px rgb(133, 133, 133);
  background: linear-gradient(rgb(138, 164, 255) 55%, rgb(0 103 4));
  border-radius: 20px;
  margin-top: 5rem;
  padding: 2rem;
  flex-direction: row;
}

.failed {
  display: flex;
  position: relative;
  justify-content: space-around;
  min-width: 65%;
  max-width: 75%;
  text-align: center;
  box-shadow: inset 5px 5px 25px 2px rgb(48, 48, 48);
  background: linear-gradient(transparent 55%, rgb(93, 71, 0));
  border-radius: 20px;
  margin-top: 5rem;
  padding: 2rem;
  color: rgb(206, 223, 242);
  flex-direction: row;
}


.success-text {
  min-width: 40%;
  max-width: 45%;
  padding-left: 4rem;
  position: relative;
}

.success-text h1,
p {
  margin: 0;
}

.success-text p {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 2rem 0 12rem 0;
}

.success-text img {
  position: absolute;
  top: 13rem;
  right: 0rem;
}

.failed-text {
  width: 38%;
  padding: 0 2rem 0 3rem;
  position: relative;
}

.failed h1 {
  font-family: 'Shadows Into Light';
  font-size: 5rem;
  margin: 0;
}



.failed button {
  padding: 0.5rem 1rem;
  width: 80%;
  height: 15%;
  border: none;
  font-size: 2rem;
  font-family: 'Gabarito', sans-serif;
  background: rgb(0, 144, 93);
  color: rgb(206, 223, 242);
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.342);
  margin-top: 3rem;
}

.failed button:hover {
  background: rgb(0, 113, 73);
}

.pumpkin-looking {
  position: absolute;
  filter: brightness(81%);
  top: 22rem;
  left: 47rem;
  transform: scaleX(-1);
}

.speech-bubble {
  position: relative;
  background: #d6d6d6;
  border-radius: .4em;
  padding: .2rem .5rem;
  margin-left: 1rem;
}

.speech-bubble:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-right-color: #d6d6d6;
  border-left: 0;
  border-bottom: 0;
  margin-top: -5px;
  margin-left: -10px;
}

.fade-in {
  opacity: 1;
  transition: opacity 2s ease;
}


.fade-out {
  opacity: 0;
  transition: opacity 2s ease;
}