@font-face {
  font-family: 'Pigpen';
  src: url('./fonts/PigpenCipher.otf');
}

@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

:root {
  box-sizing: border-box;
  --divSize: 6rem;
  --witch-purple: rgb(117, 0, 180);
  --witch-green: rgb(0, 164, 33);
  --pumpkin-orange: rgb(255, 100, 25);
}

body {
  background: linear-gradient(var(--witch-green), var(--witch-purple)); 
  overflow-x: hidden;
  font-family: 'Young Serif', serif;
}

.start-page {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: calc(100vh);
  font-family: 'Nosifer';
}

.start-page button {
  margin-top: 3rem;
  padding: 0.5rem;
  padding-top: 0.6rem;
  background-color: rgb(0, 164, 33);
  border: none;
  box-shadow: 1px 2px 5px rgb(37, 0, 57);
  font-size: 200%;
  font-family: 'Nosifer';
  letter-spacing: 1rem;
  border-radius: 12px;
  width: 100%;
}

.start-page button:hover {
  box-shadow: inset 1px 2px 5px rgb(0, 81, 16);
  transform: translate(0.1rem, 0.2rem);
}

.header {
  display: flex;
  position: relative;
  top: 0;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1)
}

.header--h1 {
  font-family: 'Nosifer';
  color: var(--witch-purple);
  font-size: 1.7rem;
  margin-left: 1rem;
}

.countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9rem;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.11);
  margin-right: 1rem;
  color: rgba(255, 255, 255, 0.50);
  border-radius: 8px;
  position: sticky;
  top: 6rem;
  left: 2rem;
 }

.countdown div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.countdown div p {
  font-weight: bold;
  margin: 0;
  font-family: "Courier New", Monaco, monospace;
}

.story-content {
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 3rem 0 6rem 0
}

.story-content h2 {
  font-family: 'Nosifer';
  font-size: 3.5rem;
  letter-spacing: 1rem;
}

.story-content p {
  font-size: 1.15rem;
  font-weight: bold;
  font-family: 'Young Serif', serif;
}

.main--witch {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  
}

.image--row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.image--row p {
  font-size: 3rem;
}

.image--row div {
  position: relative;
  background-color: white;
  border-radius: 10px;
  border: 1px solid black;
  margin: 1rem 2rem;
  padding: 1rem;
  width: var(--divSize); 
  height: var(--divSize); 
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow:  3px 6px 20px rgb(40, 40, 40);

}

.image--row img {
  height: 100%;
  width: auto;
}

#given-number {
  color: rgb(0, 0, 0);
  position: absolute;
  font-size: 1.8rem;
  top: -4px;
  right: 6px;
}

.image--row input {
  width: 2rem;
  height: 2rem;
  font-size: 1.8rem;
  text-align: center;
  position: absolute;
  top: 5px;
  right: 5px;
  border: 1px solid gray;
}

.brew-btn {
  margin-top: 3rem;
  width: 30%;
  padding: 0.5rem;
  padding-top: 0.6rem;
  background-color: rgb(0, 125, 60);
  border: none;
  box-shadow: 1px 2px 5px rgb(37, 0, 57);
  font-size: 200%;
  font-family: 'Nosifer';
  letter-spacing: 1rem;
  border-radius: 12px;
}

.brew-btn:hover {
  box-shadow: inset 1px 2px 5px rgb(0, 0, 0);
  transform: translate(0.1rem, 0.2rem); /* This will shift the text inside the button to the right by 0.1rem and down by 0.2rem */
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  margin-top: 10rem;
  width: 100%;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--witch-purple);
  flex-direction: column;
}

.footer a {
  color: var(--witch-purple);
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer p {
  margin:0.5rem 0 0 0 ;
}


@keyframes bobbing {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.library-ghost {
  animation: bobbing 2s infinite ease-in-out;
  width: 80%;
  height: 80%;
  margin-top: 3rem;
  opacity: 1;
}

.riddles-container {
  display: flex;
  width: 70%;
  color: rgba(255, 255, 255, 0.8)
}


.riddles {
  width: 100%;
}

.riddles p:not(:last-child) {
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 2rem;
}

.answer-p {
  margin-bottom: 0;
  padding-left: 1rem;
  margin-top: 1rem;
}

.riddles input {
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  width: 4rem;
  text-align: center;
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.473);
}

.riddles input:focus {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--witch-green);
}

.riddles div {
  display: flex;
}

.library-btn {
  margin-top: 3rem;
  width: 100%;
  padding: 0.5rem;
  padding-top: 0.7rem;
  background-color: rgb(117, 0, 180);
  border: none;
  box-shadow: 1px 2px 5px rgb(0, 81, 16);
  font-size: 200%;
  font-family: 'Nosifer';
  letter-spacing: 1rem;
  border-radius: 12px;
}

.library-btn:hover {
  box-shadow: inset 1px 2px 5px rgb(0, 81, 16);
  transform: translate(0.1rem, 0.2rem); /* This will shift the text inside the button to the right by 0.1rem and down by 0.2rem */
}

.pigpen {
  position: relative;
  padding: 2rem;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: 5px 10px 30px rgb(0, 0, 0);
  
}

.slide-in {
  left: 73%;
}


.slide-out {
  left: 5%;
  transition: left 3s ease;
}

.main-pp-wrapper {
  display: flex;
  flex-direction: row;
  width: 75%;
}

.main-pp-wrapper > p {
  color: #fff;
  width: 20%;
  align-self: flex-end;
  padding: 2rem;
  font-size: 1.8rem;
  margin: 0;
  font-weight: bold;
  background-color: rgb(78, 92, 99);
  box-shadow: 3px 5px 20px rgb(25, 25, 25);
  border-radius: 10px;
}

.pigpen-wrapper {
  position: relative;
}

.pigpen p {
  position: absolute;
  font-size: 4rem;
  margin: 0;
}

.pigpen-container {
  display: flex;
  position: relative;
  width: 70%;
}

.pigpen-container > img {
  position: absolute;
  transform: rotate(90deg);
  width: 40em;
  height: 40rem;
  left: 28.4rem;
  top: 2rem;
}

.pigpen-cipher {
  font-family: 'Pigpen';
  padding: 2rem;
  margin-top: 8rem;
  width: 50%;
  color: rgb(171, 171, 171);
  font-size: 2.6rem;
  line-height: 3rem;
  background-color: rgb(78, 92, 99);
  box-shadow: 3px 5px 20px rgb(50, 50, 50);
  border-radius: 10px;
}

.pigpen-cipher-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 2rem;
}

.pigpen-cipher-container p {
  font-weight: bold;
  color: white;
  font-size: 1.1rem
}

.basement-btn {  
  flex-grow: 1;
  padding: 0.7rem;
  padding-top: 0.9rem;
  margin-left: 2rem;
  background-color: rgb(0, 0, 0);
  border: none;
  color: rgb(78, 92, 99);
  font-size: 150%;
  font-family: 'Nosifer';
  letter-spacing: 0.5rem;
  border-radius: 12px;
  border: 2px solid rgb(0, 0, 0);
  outline: none;
}

.basement-btn:hover {
  border: 2px solid rgb(78, 92, 99);
}

.basement-btn:focus {
  border: 2px solid rgb(78, 92, 99);
}

.pigpen-submit-wrapper {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  width: 60%;
}

.pigpen-submit-wrapper input {
  height: 3.5rem;
  flex-grow: 2;
  font-size: 2rem;
  text-align: center;
  border-radius: 5px;
  flex-grow: 2;
}

.pigpen-submit-wrapper input:focus {
  outline: 2px solid rgb(42, 49, 53);
}

.pigpen-hint {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  visibility: hidden;
  opacity: 0;
}

.show-hint {
  visibility: visible;
  opacity: 1;
  transition: visibility 2s linear, opacity 2s linear;
}

.pigpen-hint button {
  height: 1.5rem;
  min-width: 6rem;
  font-size: 0.8rem;
  border-radius: 5px;
  background-color: rgb(26, 24, 24);
  color: rgb(105, 105, 105);
  border: none;
}

.hint {
  margin-left: 4rem;
  opacity: 0;
}

.progress-bar {
  display: flex;
  width: 32%;
  justify-content: flex-end;
  align-items: center;
  margin-right: 3rem;
}

.progress-bar-bubble {
  display: flex;
  justify-content: center;
  padding: 4px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: white;
  z-index: 1;
}
.progress-bar-bubble img {
  visibility: hidden;
}

.progress-img-visible {
  visibility: visible !important;
}

.progress-bar-line {
  height: 15px;
  margin: 0 -5px 0 -5px;
  width:50px;
  background-color: white;
  z-index: -1;
}

.progress-bar-half-color {
  /* background: linear-gradient(to right, var(--witch-purple), rgb(255, 255, 255)) */
  background: linear-gradient(to top right, rgb(255, 100, 25) 20%, rgb(255, 255, 255))
}
.progress-bar-full-color {
  /* background-color: var(--witch-purple); */
  background-color: rgb(255, 100, 25);
}

@keyframes spinGrow {
  0% {
      transform: rotate(0deg);
      width: 0rem;
  }
  100% {
      transform: rotate(360deg);
      width: 30rem;
  }
}

#gravestoneImg {
  animation: spinGrow 4s forwards;
}

.centerItems {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.headstones {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 78%;
  flex-wrap: wrap;
}
.headstones > div {
  position: relative;
  overflow: hidden; /* This will contain the child's shadow */
  padding-top: 3.5rem;
  clip-path: polygon(0 0, 100% 0, 100% 95%, 0 95%);
}
.headstones img { 
  width: 50%;
  border-radius: 50% 50% 0 0;
  z-index: 1;
  
}
.headstone-glow {
  animation: bigGlow 1s ease-in forwards, glowingEffect 1s infinite alternate 1s;
  border-radius: 50% 50% 0 0;
  width: 35%;
  height: 78%;
  position: absolute;
  top: 3.5rem;
  z-index: 0;
}

@keyframes bigGlow {
  0% {
    box-shadow: 0 0 70px 10px rgb(255, 21, 21);
  }
  
  100% {
    box-shadow: 0 0 50px 4px #6c9c78;
  }
}

@keyframes glowingEffect {
  0% {
    box-shadow: 0 0 50px 5px #6c9c78;
  }
  
  100% {
    box-shadow: 0 0 42px 4px #6c9c78;
  }
}

.headstones > div { 
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24%;
}

.graveyard-riddle {
  flex-grow: 1;
  width: 70%;
  text-align: center;
  font-size: 1.7rem;
  color: white;
  visibility: visible;
  margin-top: 2rem;
}

.graveyard-riddle input{
  width: 20rem;
  height: 3rem;
  font-size: 1.8rem;
  text-align: center;
  background-color: transparent;
  color: white;
  border: none;
  border-bottom: 2px solid white;
  transition: border-bottom 500ms ease, width 500ms ease;
}

.graveyard-riddle input:focus{
  outline: none;
  width: 30rem;
  border-bottom: 2px solid rgb(255, 100, 25);
}

.graveyard-riddle p:nth-of-type(2) {
  color: rgb(255, 100, 25);
  font-size: 1rem;
}

.show-riddle {
  visibility: visible;
  opacity: 1;
  transition: visibility 2s linear, opacity 2s linear;
}

.visible {
  display: block;
}
.not-visible {
  display: none;
}

.success {
  display: flex;
  justify-content: space-around;
  max-width: 75%;
  text-align: center;
  box-shadow: 20px 20px 25px 2px rgb(133, 133, 133);
  background: linear-gradient(rgb(138, 164, 255) 55%, rgb(0 103 4));
  border-radius: 20px;
  margin-top: 5rem;
  padding: 2rem;
  flex-direction: row;
}

.failed {
  display: flex;
  position: relative;
  justify-content: space-around;
  max-width: 75%;
  text-align: center;
  box-shadow: inset 5px 5px 25px 2px rgb(0, 0, 0);
  background: linear-gradient(transparent 55%, rgb(0, 80, 3));
  border-radius: 20px;
  margin-top: 5rem;
  padding: 2rem;
  color: rgb(206, 223, 242);
  flex-direction: row;
}


.success-text {
  min-width: 40%;
  max-width: 45%;
  padding-left: 4rem;
  position: relative;
}

.success-text h1 , p{
  margin: 0;
}

.success-text p {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 2rem 0 12rem 0;
}

.success-text img{
  position: absolute;
  top: 13rem;
  right: 0rem;
}

.failed-text {
  width: 38%;
  padding: 0 2rem 0 3rem;
  position: relative;
}
.failed h1 {
  font-family: 'Nosifer';
  margin: 0;
}

.failed p {
  margin-top: 2rem;
  font-size: 1.5rem;
  font-family: 'Young Serif', serif;
}

.failed button {
  padding: 0.5rem 1rem;
  width: 80%;
  border: none;
  font-size: 2rem;
  font-family: 'Young Serif', serif;
  background: rgb(207, 118, 0);
  color: rgb(206, 223, 242);
  border-radius: 5px;
  margin-top: 3rem;
}

.failed button:hover {
  background: rgb(177, 101, 0);  
}

.pumpkin-looking {
  position: absolute;
  filter: brightness(81%);
  top: 22rem;
  left: 28rem;
  transform: scaleX(-1);
}

.speech-bubble {
	position: relative;
	background: #d6d6d6;
	border-radius: .4em;
  padding: .2rem .5rem;
  margin-left: 1rem;
}

.speech-bubble:before {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-right-color: #d6d6d6;
	border-left: 0;
	border-bottom: 0;
	margin-top: -5px;
	margin-left: -10px;
}

.fade-in {
  opacity: 1;
  transition: opacity 2s ease;
}


.fade-out {
  opacity: 0;
  transition: opacity 2s ease;
}
